{% extends "base.html" %}
{% block titre %}Prescriptions{% endblock %}

{% block contenu %}

<!-- 1. Le Header est désormais SEUL et indépendant, directement sur le fond du site -->
<section class="prescriptions-header">
    <h1>Analyse des prescriptions</h1>
    <p>
        Analyse globale des ordonnances et des soins prescrits par les professionnels de santé, 
        croisant les catégories de soins (postes), les coûts (€) et les quantités (volumes) pour cartographier
        les habitudes médicales et les dépenses de l'Assurance Maladie
    </p>
</section>

<!-- 2. Le bloc blanc commence ICI et n'enveloppe que les cartes et la petite image -->
<section class="prescriptions-page">

    <section class="prescriptions-cards">
        <div class="prescriptions-cards-top">
            <h2>Thèmes associés</h2>
            <img src="{{ url_for('static', filename='images/antibiotique.png') }}" alt="Antibiotiques" class="prescriptions-header-image">
        </div>

        <a href="{{ url_for('prescriptions.page_disparite') }}" class="prescription-card-link"> 
            <div class="prescription-card">
                <h3>Poste de prescription</h3>
                <p>
                    Catégories majeures de soins et de produits remboursés par l’Assurance Maladie 
                    (médicaments, transports, biologie, dispositifs médicaux), 
                    permettant d'analyser la nature des dépenses des professionnels de santé.
                </p>
            </div>
        </a>

        <a href="{{ url_for('prescriptions.page_correlation') }}" class="prescription-card-link">
            <div class="prescription-card">
                <h3>Indicateurs des finances</h3>
                <p>
                    Données chiffrées exprimées en euros (montants présentés et remboursés par l’Assurance Maladie) 
                    permettant de mesurer le coût économique des prescriptions et d'analyser les dépenses de santé 
                    par profession ou par territoire.
                </p>
            </div>
        </a>

        <a href="{{ url_for('prescriptions.page_prescript_majeur') }}" class="prescription-card-link">
            <div class="prescription-card">
                <h3>Indicateurs de volumes</h3>
                <p>
                    Données quantitatives (nombre de bénéficiaires uniques, volumes d'actes ou quantités de produits prescrits)
                    permettant de mesurer l'impact et la fréquence du recours aux soins, indépendamment de leur coût financier.
                </p>
            </div>
        </a>

    </section>

</section>

<script>
    const BASE_URL = "{{ BASE_URL | default('') }}";
</script>
<script src="{{ url_for('static', filename='js/cascade.js') }}"></script>

{% endblock %}