{% extends "base.html" %}
{% block titre %}Prescriptions selon le poste{% endblock %}

{% block contenu %}

    <section class="prescriptions-header">
        <h1>Analyse des prescriptions selon le poste</h1>
        <p>
            Analyse des ordonnances et des soins prescrits par les professionnels de santé, 
            croisant les catégories de soins (postes), les coûts (€) et les quantités (volumes) pour cartographier
            les habitudes médicales et les dépenses de l'Assurance Maladie
        </p>
    </section>

    <section class="filters-box">

        <span class="filter-label">FILTRES :</span>

        <form action="{{ url_for('prescriptions.afficher') }}" method="get" class="api-form">

            <select name="profession_id" id="profession" required>
                <option value="">Profession</option>
                {% for p in professions %}
                    <option value="{{ p.id }}">{{ p.libelle }}</option>
                {% endfor %}
            </select>

            <select name="region_id" id="region_id" required>
                <option value="">Région</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.libelle }}</option>
                    {% endfor %}
            </select>

            <select name="departement_id" id="departement" required>
                <option value="">Département</option>
            </select>

            <select name="annee" id="annee" required>
                {% for a in range(2024, 2014, -1) %}
                    <option value="{{ a }}">{{ a }}</option>
                {% endfor %}
            </select>

            <button type="submit">Afficher</button>

            <a href="{{ url_for('prescriptions.afficher') }}" class="reset-link">
                Réinitialiser
            </a>
        </form>

        <div class="filters-info">
            <button class="export-btn">Exporter (CSV/PDF)</button>
        </div>

    </section>



    <!-- Affichage des résultats -->
    <!--
    {% if resultats is not none %}

        <section class="prescriptions-results">

            <div class="result-title">
                <h2>Résultats de l’analyse</h2>

                {% if poste and prof and dept %}
                    <p>
                        {{ poste.libelle }} · {{ prof.libelle }} · {{ dept.libelle }} · {{ annee }}
                    </p>
                {% endif %}
            </div>

            {% if resultats|length > 0 %}

                <div class="chart-box prescription-chart">
                    <canvas id="graphique-prescriptions"></canvas>
                </div>

                <div class="prescriptions-table-box">
                    <h3>Détail des données brutes</h3>

                    <table>
                        <thead>
                            <tr>
                                <th>Année</th>
                                <th>Poste concerné</th>
                                <th>Montant des prescriptions</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for r in resultats %}
                                <tr>
                                    <td>{{ r.annee }}</td>
                                    <td>{{ r.libelle_poste_prescription }}</td>
                                    <td class="positive">
                                        {{ r.montant | default(r.montant_rembourse, true) }} €
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const donnees = {{ evolution | tojson }};

                    new Chart(document.getElementById("graphique-prescriptions"), {
                        type: "bar",
                        data: {
                            labels: donnees.map(d => d.annee),
                            datasets: [{
                                label: "Montant (€)",
                                data: donnees.map(d => d.montant || d.montant_rembourse || 0),
                                backgroundColor: "#41e46a",
                                borderRadius: 6
                            }]
                        }
                    });
                </script>

            {% else %}
                <div class="empty-message">
                    <h3>Aucune donnée disponible</h3>
                    <p>Aucune donnée n’a été trouvée pour cette sélection.</p>
                </div>
            {% endif %}

        </section>
    {% endif %}
    -->

{% endblock %}