{% extends "base.html" %}
{% block titre %}Prescriptions selon le poste{% endblock %}

{% block contenu %}

    <!-- En-tête de la page -->
    <!-- Titre et description de la page -->
    <section class="prescriptions-header">
        <h1>Analyse des prescriptions selon le poste</h1>
        <p>
            Analyse des ordonnances et des soins prescrits par les professionnels de santé, 
            croisant les catégories de soins (postes), les coûts (€) et les quantités (volumes) pour cartographier
            les habitudes médicales et les dépenses de l'Assurance Maladie
        </p>
    </section>

    <section class="filters-box">
        <section class="form-section"> 
            <h2 class="filter-label">FILTRES</h2>

            <form action="{{ url_for('prescriptions.page_postes') }}" method="get" class="api-form" id="form-filtres">
                <select name="profession_id" id="profession" required>
                    <option value="">Profession</option>
                    {% for poste in professions %}
                        <option value="{{ poste.id }}"{% if poste.id == profession_id %}selected{% endif %}>
                            {{ poste.libelle }}
                        </option>
                    {% endfor %}
                </select>

                <select name="region_id" id="region_select" required>
                    <option value="">Zone géographique</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}" {% if region.id == region_id %}selected{% endif %}>
                            {{ region.libelle }}
                        </option>
                    {% endfor %}
                </select>

                <select name="annee" id="annee" required>
                    {% for a in range(2024, 2014, -1) %}
                        <option value="{{ a }}">{{ a }}</option>
                    {% endfor %}
                </select>

                
            </form>

        </section>

        <!-- Zone d'actions : BOUTON d'affichage, de réinitialisation et d'export -->
        <nav id="filtres-button"> 
            <button type="submit" form="form-filtres" class="submit-btn">Afficher</button>
            <a href="{{ url_for('prescriptions.page_postes') }}" class="reset-link">
                Réinitialiser
            </a>
            <button class="export-btn">Exporter (CSV/PDF)</button>
        </nav>

    </section>


    {% if resultats is not none %}
        <section class="prescriptions-results">
            
            {% if resultats|length > 0 %}
                <div class="tabs-menu">
                    <button class="tab-btn active" onclick="switchTab(event, 'tab-graphique')">Graphique</button>
                    <button class="tab-btn" onclick="switchTab(event, 'tab-tableau')">Tableau des données</button>
                </div>

                <div id="tab-graphique" class="tab-content active">
                    <div class="chart-box prescription-chart">
                        <canvas id="graphique-prescriptions"></canvas>
                    </div>
                </div>

                <div id="tab-tableau" class="tab-content">
                    <div class="prescriptions-table-box">
                        <h3>Tableau des données brutes</h3>

                        <table>
                            <thead>
                                <tr>
                                    <th>Professions</th>
                                    <th>Région</th>
                                    <th>Prescription</th>
                                    <th>Année</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in resultats %}
                                    <tr>
                                        <td>{{ r.profession_sante }}</td>
                                        <td>{{ r.region }}</td>
                                        <td>{{ r.libelle_poste_prescription}}</td>
                                        <td>{{ r.annee }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <script>
                    function switchTab(event, tabId) {
                        // Masquer tous les contenus d'onglets
                        const contents = document.querySelectorAll('.tab-content');
                        contents.forEach(content => content.classList.remove('active'));

                        // Désactiver tous les boutons d'onglets
                        const buttons = document.querySelectorAll('.tab-btn');
                        buttons.forEach(btn => btn.classList.remove('active'));

                        // Activer l'onglet actuel
                        document.getElementById(tabId).classList.add('active');
                        event.currentTarget.classList.add('active');
                    }
                </script>

            {% else %}
                <div class="empty-message">
                    <h3>Aucune donnée disponible</h3>
                    <p>Aucune donnée n’a été trouvée pour cette sélection.</p>
                </div>
            {% endif %}
        </section>
    {% endif %}

{% endblock %}