<section class="filters-box">

    
    <section class="form-section"> 

        <h2 class="filter-label">FILTRES</h2>

        <form action="{{ url_for('prescriptions.page_disparite') }}" method="get" class="api-form" id="form-filtres">

            <select name="region_id" id="region_select" multiple>
                <option value="ALL" {% if 'ALL' in region_ids or not region_ids %}selected{% endif %}>-- Toutes régions --</option>
                {% for region in regions %}
                    <option value="{{ region.id }}" {% if region_ids and region.id|string in region_ids %}selected{% endif %}>
                        {{ region.libelle }}
                    </option>
                {% endfor %}
            </select>

            <select name="departement_id" id="departement_select" multiple>
                <option value="ALL" {% if 'ALL' in departement_id or not departement_id %}selected{% endif %}>-- Tous départements --</option>
                {% for depart in departements %}
                    <option value="{{ depart.id }}" {% if departement_id and depart.id|string in departement_id %}selected{% endif %}>
                        {{ depart.libelle }}
                    </option>
                {% endfor %}
            </select>

            <select name="annee" id="annee_select">
                {% for a in range(2024, 2014, -1) %}
                    <option value="{{ a }}" {% if a == annee %}selected{% endif %}>{{ a }}</option>
                {% endfor %}
            </select>

        </form>

    </section>


    <nav id="filtre-button"> 
        <button type="submit" form="form-filtres" class="submit-btn">Afficher</button>
        <a href="{{ url_for('prescriptions.page_disparite') }}" class="reset-link">
            Réinitialiser
        </a>
        <button class="export-btn">Exporter (CSV)</button>
    </nav>
    

</section>