{% extends "base.html" %}
{% block titre %}Prescriptions selon le poste{% endblock %}

{% block contenu %}

    <section class="prescriptions-header">
        <h1>Analyse des prescriptions selon le poste</h1>
        <p>
            Analyse des ordonnances et des soins prescrits par les professionnels de santé, 
            croisant les catégories de soins (postes), les coûts (€) et les quantités (volumes) pour cartographier
            les habitudes médicales et les dépenses de l'Assurance Maladie.
        </p>
    </section>

    {% include "prescriptions/pages_disparite/filtres.html" %}
    
    {% if resultats is not none %}
        <section class="prescriptions-results">
            
            {% if resultats|length > 0 %}
                <div class="tabs-menu">
                    <button class="tab-btn active" onclick="switchTab(event, 'tab-graphique')">Graphique</button>
                    <button class="tab-btn" onclick="switchTab(event, 'tab-indicateur')">Indicateur</button>
                    <button class="tab-btn" onclick="switchTab(event, 'tab-tableau')">Tableau des données</button>
                </div>

                {% include "prescriptions/page_disparite/graphiques.html" %}

                {% include "prescriptions/page_disparite/indicateurs.html" %}

                {% include "prescriptions/page_disparite/tableau.html" %}

                <script src="{{ url_for('static', filename='js/disparite_onglets.js') }}"></script>

            {% else %}

                <div class="empty-message">
                    <h3>Aucune donnée disponible</h3>
                    <p>Aucune donnée n’a été trouvée pour cette sélection.</p>
                </div>

            {% endif %}

        </section>
    {% endif %}

{% endblock %}