<div id="tab-tableau" class="tab-content">
    <div class="prescriptions-table-box">
        <h3>Tableau des données brutes</h3>

        <table>
            <thead>
                <tr>
                    {% if zone_geo == region_name %}
                        <th>region_name</th>
                    {% else %}
                        <th>depart_name</th>
                    {% endif %}
                    <th>Montant Total</th>
                    <th>Montant Moyen</th>
                    <th>Année</th>
                </tr>
            </thead>
            <tbody>
                {% for r in resultats %}
                    <tr>
                        {% if region %}
                            <td>{{ r.region }}</td>
                        {% elif departement %}
                            <td>{{ r.department }}</td>
                        {% endif %}
                        <td>{{ r.libelle_poste_prescription}}</td>
                        <td>{{ r.annee }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>