{% extends "base.html" %}

{% block titre %}Accueil{% endblock %}

{% block contenu %}

<div class="home-wrapper">
<section class="hero">

    <div class="hero-text">
        <h1>
            Explorez les données du système
            de <span>santé français</span>
        </h1>

        <p>
            La plateforme ouverte de référence pour analyser,
            visualiser et interpréter les données anonymisées
            de l'Assurance Maladie.
        </p>

        <div class="hero-buttons">
            <a href="#" class="btn-primary">Découvrir les données</a>
            <a href="#" class="btn-secondary">Documentation API</a>
        </div>

        <div class="stats">

            <div class="stat-item">
                <div class="stat-icon">
                    <img src="{{ url_for('static', filename='images/courbe.svg') }}" alt="Enregistrements">
                </div>

                <div>
                    <strong>100M+</strong>
                    <span>Enregistrements</span>
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-icon">
                    <img src="{{ url_for('static', filename='images/timer.svg') }}" alt="Temps réel">
                </div>

                <div>
                    <strong>Temps Réel</strong>
                    <span>Mise à jour</span>
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-icon">
                    <img src="{{ url_for('static', filename='images/armure.svg') }}" alt="Sécurité">
                </div>

                <div>
                    <strong>Sécurisé</strong>
                    <span>Conforme RGPD</span>
                </div>
            </div>

        </div>
    </div>

    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/docteur-accueil.png') }}" alt="Santé Data">
    </div>

</section>
</div>

<section class="data-section">

    <h2>Types de données disponibles</h2>

    <div class="tabs">
        <button class="active">Prescriptions</button>
        <button>Établissements</button>
        <button>Remboursements</button>
        <button>Professionnels</button>
        <button>Pathologies</button>
        <button>Statistiques</button>
    </div>

    <div class="data-card">
        <div class="data-icon">
            <img src="{{ url_for('static', filename='images/pill.svg') }}" alt="Médicaments" style="width: 28px; height: 28px;">
        </div>
        <div>
            <h3>Données de prescriptions médicales</h3>
            <p>
                Accédez aux données anonymisées des prescriptions
                délivrées en France.
            </p>
        </div>
    </div>

</section>

{% endblock %}