<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}Santé Data France{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/activity.svg') }}" alt="Logo" class="logo-img">
            <span class="logo-text">Santé Data France</span>
        </div>

        <nav>
            <div class="nav-center">
                <a href="{{ url_for('accueil.index') }}" class="{% if request.endpoint == 'accueil.index' %}active{% endif %}">Accueil</a>
                
                <div class="dropdown">
                    <a href="#" class="dropbtn">Données &#9662;</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('prescriptions.afficher') }}" class="{% if request.endpoint == 'prescriptions.afficher' %}active{% endif %}">Prescriptions</a>
                        <a href="{{ url_for('effectifs.afficher') }}" class="{% if request.endpoint == 'effectifs.afficher' %}active{% endif %}">Effectifs</a>
                    </div>
                </div>

                <a href="{{ url_for('accueil.api_ameli') }}" class="{% if request.endpoint == 'accueil.api_ameli' %}active{% endif %}">Api Ameli</a>
            </div>

            <div class="nav-right">
                <a href="#">Documentation</a>
                <a href="#">À propos</a>
            </div>
        </nav>
    </header>

    <main>
        {% block contenu %}{% endblock %}
    </main>

    <footer>
        <div class="footer-col">
            <h3>Santé Data France</h3>
            <p>
                Plateforme d'accès aux données publiques
                de santé et aux API de l'Assurance Maladie.
            </p>
        </div>

        <div class="footer-col">
            <h4>Données</h4>
            <p><a href="{{ url_for('prescriptions.afficher') }}" class="{% if request.endpoint == 'prescriptions.afficher' %}active{% endif %}">Prescriptions</a></p>
            <p><a href="#">Établissements</a></p>
            <p><a href="#">Professionnels</a></p>
            <p><a href="#">Remboursements</a></p>
            <p><a href="#">Pathologies</a></p>
        </div>

        <div class="footer-col">
            <h4>Ressources</h4>
                <p><a href="#">Documentation API</a></p>
                <p><a href="#">Guides</a></p>
                <p><a href="{{ url_for('faq') }}">FAQ</a></p>
                <p><a href="#">Blog</a></p>
                <p><a href="#">Communauté</a></p>
                
        </div>

        <div class="footer-col">
            <h4>Contact</h4>
            <p><a href="#">contact@santedatafrance.fr</a></p>
            <p><a href="#">01 45 17 17 01</a></p>
            <p>
                <a href="https://www.google.com/maps/search/?api=1&query=IUT+de+Cr%C3%A9teil-Vitry+122+Rue+Paul+Armangot+94400+Vitry-sur-Seine" 
                target="_blank" 
                class="adresse-link">
                IUT de Créteil-Vitry<br>
                122 Rue Paul Armangot<br>
                94400 Vitry-sur-Seine
                </a>
            </p>
        </div>
        
    </footer>

</body>
</html>