<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}Santé Data France{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/activity.svg') }}" alt="Logo" class="logo-img">
            <span class="logo-text">Santé Data France</span>
        </div>

        <nav>
            <a href="{{ url_for('accueil.index') }}" class="{% if request.endpoint == 'accueil.index' %}active{% endif %}">Accueil</a>            
            <a href="#">Données</a>
            <a href="{{ url_for('prescriptions.afficher') }}" class="{% if request.endpoint == 'prescriptions.afficher' %}active{% endif %}">Prescriptions</a>
            <a href="{{ url_for('accueil.api_ameli') }}" class="{% if request.endpoint == 'accueil.api_ameli' %}active{% endif %}">Api Ameli</a>
            <a href="#">Documentation</a>
            <a href="#">À propos</a>
        </nav>

        <div class="auth-buttons">
            <a href="#" class="connexion">Connexion</a>
            <a href="#" class="inscription">S'inscrire</a>
        </div>
    </header>

    <main>
        {% block contenu %}{% endblock %}
    </main>

    <footer>
        <div class="footer-col">
            <h3>Santé Data France</h3>
            <p>
                Plateforme d'accès aux données publiques
                de santé et aux API de l'Assurance Maladie.
            </p>
        </div>

        <div class="footer-col">
            <h4>Données</h4>
            <p>Prescriptions</p>
            <p>Établissements</p>
            <p>Professionnels</p>
            <p>Remboursements</p>
            <p>Pathologies</p>
        </div>

        <div class="footer-col">
            <h4>Ressources</h4>
            <p>Documentation API</p>
            <p>Guides</p>
            <p>FAQ</p>
            <p>Blog</p>
            <p>Communauté</p>
        </div>

        <div class="footer-col">
            <h4>Contact</h4>
            <p>contact@santedatafrance.fr</p>
            <p>01 45 17 17 01</p>
            <p>122 rue Paul Armangot</p>
            <p>94400 Vitry-sur-Seine</p>
            <p>France</p>
        </div>
    </footer>

</body>
</html>